<div class="card m-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>

        <p class="card-text">{{description}}</p>
        <a href="{{url}}" class="card-link">Más Información</a>

    </div>
</div>