<div class="card m-5">
    <div class="card-body">
        <h4 class="card-title">{{service.name}}</h4>

        <p class="card-text">{{service.description}}</p>
        <a href="/services" class="card-link">Volver a servicios</a>

    </div>
</div>